@import 'body';

@import 'fonts';

@import 'header';

.title {
    display: flex;
    justify-content: space-between;
    max-width: 1109px;
    width: 100%;
    max-height: 251px;
    margin-top: 31px;
    margin-bottom: 100px;
}

.title-left {
    max-width: 635px;
    width: 100%;
    max-height: 251px;
    display: flex;
    flex-wrap: wrap;
}

.title-right {
    align-self: self-end; 
    margin-right: 73px;
    margin-bottom: 23px;
}

@import 'picture-grid';

.group {
    max-width:1079px;
    width: 100%;
    max-height: 106px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 91px;
    margin-top: 91px;
}

.group-text {
    max-width: 600px;
}

.group-list {
    max-width: 400px;
    max-height: 106px;
    list-style-type: none;
    margin-top: 0px;
}

.awards {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    height: 823px;
    margin-bottom: 100px;
    border-bottom: 2px #D8D8D8;
}

.box-1 {
    display: flex;
    flex-direction: row;
    max-width: 1110px;
    width: 100%;
    height: 411.5px;
    justify-content: space-between;
    border-style: solid;
    border-left: 2px;
    border-right: 2px;
    border-color: #D8D8D8;
    padding-top: 50px;
}

.box-2 {
    display: flex;
    flex-direction: row;
    max-width: 1110px;
    width: 100%;
    height: 411.5px;
    justify-content: space-between;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: 5px;
    border-left: none; 
    border-color: #D8D8D8;
    padding-top: 50px;
}


.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 635px;
}

.genesis-text {
    width: 190px;
    height: 110px;
}

@import 'footer';